<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
  </head>
  <body>
    <h3>001.</h3>
    <div id="app">
      <p>{{ message }}</p>
    </div>
    <h3>002.</h3>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
    </div>
    <h3>003.</h3>
    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>
    <h3>004.</h3>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="./main.js"></script>
  </body>
</html>