<!-- : = v-bind -->
<!-- @ = v-on -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <h2>001. vue init</h2>
    <div id="app">
      <p>{{ message }}</p>
    </div>

    <hr>

    <h2>002. vue-bind</h2>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
      <p>abbreviation</p>
      <div :title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </div>
    </div>

    <hr>

    <h2>003. v-if</h2>
    <div id="app-3">
      <p v-if="seen">Yes</p>
      <p v-else="seen">No</p>

      <h3>003-1. v-if with template</h3>
      <template v-if="seen">
        <p>Title</p>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <h3>003-2. v-else-if</h3>
      <div v-if="type === 'A'">A</div>
      <div v-else-if="type === 'B'">B</div>
      <div v-else-if="type === 'C'">C</div>
      <div v-else>Not A/B/C</div>

      <h3>003-3. Controlling Reusable Elements with key</h3>
      <div><button v-on:click="toggle">Toggle login type</button></div>

      <p>now with key</p>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
      </template>

      <p>with key</p>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template>
    </div>

    <hr>

    <h2>004. v-for</h2>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>

      <h3>004-1. v-for with index</h3>
      <ol>
        <li v-for="(todo, index) in todos">
          {{ index }} - {{ todo.text }}
        </li>
      </ol>

      <h3>004-2. v-for with of</h3>
      <ol>
        <li v-for="todo of todos">
          {{ todo.text }}
        </li>
      </ol>

      <h3>004-3. v-for with template</h3>
      <ul>
        <template v-for="todo in todos">
          <li>{{ todo.text }}</li>
        </template>
      </ul>

      <h3>004-4. v-for with object</h3>
      <ul id="repeat-object" class="demo">
        <li v-for="value in object">
          {{ value }}
        </li>
        <p>value key</p>
        <li v-for="(value, key) in object">
          {{ key }} : {{ value }}
        </li>
        <p>value key index</p>
        <li v-for="(value, key, index) in object">
          {{ index }}. {{ key }} : {{ value }}
        </li>
      </ul>

      <h3>004-5. v-for with integer</h3>
      <div>
        <span v-for="n in 10">{{ n }}</span>
      </div>

      <h3>004-6. v-for with key</h3>
      <div>
        <div v-for="todo in todos" :key="todo.id">
          {{ todo.text }}
        </div>
      </div>
    </div>

    <hr>

    <h2>005. v-on Event</h2>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <div>
        <p>abbreviation</p>
        <button @click="reverseMessage">Reverse Message</button>
      </div>

      <h3>005-1. Count</h3>
      <button v-on:click="counter += 1">增加 1</button>
      <p>這個按鈕被點擊了 {{ counter }} 次。</p>

      <h3>005-2. Alert</h3>
      <button v-on:click="greet">Greet</button>

      <h3>005-3 Inner with javascript</h3>
      <button v-on:click="say('hi')">Say hi</button>
      <button v-on:click="say('what')">Say what</button>

      <h3>005-4 $event</h3>
      <button v-on:click="warn('Form cannot be submitted yet.', $event)">Submit</button>

      <h3>005-5 Event-Modifiers</h3>
      <a href="http://cn.vuejs.org/v2/guide/events.html#事件修饰符" target="_blank">Event-Modifiers</a>
      <!-- 阻止單擊事件冒泡 -->
      <a v-on:click.stop="doThis"></a>
      <!-- 提交事件不再重載頁面 -->
      <form v-on:submit.prevent="onSubmit"></form>
      <!-- 修飾符可以串聯  -->
      <a v-on:click.stop.prevent="doThat"></a>
      <!-- 只有修飾符 -->
      <form v-on:submit.prevent></form>
      <!-- 新增事件偵聽器時使用事件捕獲模式 -->
      <div v-on:click.capture="doThis"></div>
      <!-- 只當事件在該元素本身（而不是子元素）觸發時觸發回調 -->
      <div v-on:click.self="doThat"></div>

      <h3>005-6 Key Modifiers</h3>
      <a href="http://cn.vuejs.org/v2/guide/events.html#按键修饰符" target="_blank">Key Modifiers</a></br>
      <a href="http://cn.vuejs.org/v2/api/#keyCodes" target="_blank">keyCodes</a></br>
      <!-- 只有在 keyCode 是 13 時呼叫 vm.submit() -->
      Enter me<input v-on:keyup.13="submit">
      <!-- 同上 -->
      Enter me<input v-on:keyup.enter="submit">
      <!-- 縮寫語法 -->
      Enter me<input @keyup.enter="submit">
    </div>

    <hr>

    <h2>006. v-model</h2>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <hr>

    <h2>007. component</h2>
    <div id="app-7">
      <ol>
    <!-- Now we provide each todo-item with the todo object    -->
    <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>

    <hr>

    <h2>008. filters</h2>
    <div id="app-8">
      <p>{{ message | toUpperCase }}</p>
      <input v-model="message">
    </div>

    <hr>

    <h2>009. computed</h2>
    <div id="app-9">
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <hr>

    <h2>010. computed setting</h2>
    <div id="app-10">
      <div id="demo">{{ fullName }}</div>
      <div>firstName<input v-model="firstName"></div>
      <div>lastName<input v-model="lastName"></div>
      <div>fullName<input v-model="fullName"></div>
    </div>

    <hr>

    <h2>011. watch</h2>
    <div id="app-11">
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>

    <hr>

    <h2>012. v-bind:class</h2>
    <div id="app-12">
      <div class="static"
        v-bind:class="{ 'text-blue': hasBlue, 'text-red': hasRed }">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>013. classObject</h2>
    <div id="app-13">
      <div v-bind:class="classObject">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>014. classObject with computed</h2>
    <div id="app-14">
      <div v-bind:class="classObject">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>015. v-bind:class with array</h2>
    <div id="app-15">
      <div v-bind:class="[bgYellowClass, redClass]">
        Hello Vue!
      </div>
      <div v-bind:class="[isActive ? redClass : '', bgYellowClass]">
        Hello Vue!
      </div>
      <div v-bind:class="[{ redClass: isActive }, bgYellowClass]">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>016. v-bind:style</h2>
    <div id="app-16">
      <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
        Hello Vue!
      </div>
      <div v-bind:style="styleObject"> Hello Vue! </div>
      <div v-bind:style="[baseStyles, overridingStyles]"> Hello Vue! </div>
    </div>

    <hr>

    <h2>017. v-show</h2>
    <p>v-show 是簡單的切換元素的 CSS 屬性 display。元素會始終渲染並保持在 DOM 中。</p>
    <p>注意 v-show 不支援 template 語法。</p>
    <div id="app-17">
      <div v-show="ok">Hello!</div>
    </div>
    <p class='bg-gray'>一般來說， v-if 有更高的切換消耗而 v-show 更高的初始渲染消耗。因此，如果需要頻繁切換使用 v-show 較好，如果在運行時條件不大可能改變則使用 v-if 較好。</p>

    <hr>

    <h2>018. array update</h2>
    <p class='bg-gray'>vm.items[indexOfItem] = newValue</p>
    <p>Vue.set(example1.items, indexOfItem, newValue)</p>
    <p>example1.items.splice(indexOfItem, 1, newValue)</p>
    <p class='bg-gray'>vm.items.length = newLength</p>
    <p>example1.items.splice(newLength)</p>
    <a href="https://vuefe.cn/v2/guide/list.html#数组更新检测" target="_blank">array update</a>

    <hr>

    <h2>019. Filtered-Sorted-Results</h2>
    <div id="app-19">
      <h3>019-2. computed</h3>
      <li v-for="n in evenNumbers">{{ n }}</li>

      <h3>019-1. methods</h3>
      <li v-for="n in even(numbers)">{{ n }}</li>
    </div>

    <hr>

    <h2>020. From</h2>
    <div id="app-20">
      <p>{{ message }}</p>
      <input v-model="message">

      <h3>020-1. multiline message</h3>
      <span>Multiline message is:</span>
      <p style="white-space: pre">{{ message }}</p>
      <br>
      <textarea v-model="message" placeholder="add multiple lines"></textarea>

      <h3>020-2. checked</h3>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>

      <h3>020-3. checkbox</h3>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>

      <h3>020-4. radio</h3>
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>

      <h3>020-5. selected</h3>
      <select v-model="selected">
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>

      <h3>020-6. multiline selected</h3>
      <select v-model="selectedMany" multiple>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <br>
      <span>Selected: {{ selectedMany }}</span>

      <h3>020-7. Dynamic options rendered with v-for</h3>
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected }}</span>

      <h3>020-8. Binding</h3>
      <!-- 當選中時，`picked` 為字串 "a" -->
      <div>1. {{ binding1 }}</div>
      <input type="radio" v-model="binding1" value="a">

      <!-- `toggle` 為 true 或 false -->
      <div>2. {{ binding2 }}</div>
      <input type="checkbox" v-model="binding2">
      <!-- 當選中時，`selected` 為字串 "abc" -->

      <div>3. {{ binding3 }}</div>
      <select v-model="binding3">
        <option value="abc">ABC</option>
      </select>

      <div>4. {{ binding4 }}</div>
      <input
        type="checkbox"
        v-model="binding4"
        v-bind:true-value="a"
        v-bind:false-value="b"
      >

      <div>5. {{ binding5 }}</div>
      <input type="radio" v-model="binding5" v-bind:value="a">

      <div>6. {{ binding6 }}</div>
      <select v-model="binding6">
          <!-- 內聯物件字面量 -->
        <option v-bind:value="{ number: 123 }">123</option>
      </select>

      <h3>020-9. Modifiers</h3>
      <div>1. .lazy 轉變為在 change 事件中同步</div>
      <!-- 在預設情況下， v-model 在 input 事件中同步輸入框的值與數據，但你可以新增一個修飾符 lazy ，從而轉變為在 change 事件中同步 -->
      <!-- 在 "change" 而不是 "input" 事件中更新 -->
      <input v-model.lazy="msg" >

      <div>2. .number 自動將用戶的輸入值轉為 Number 類型（如果原值的轉換結果為 NaN 則返回原值）</div>
      <!-- 自動將用戶的輸入值轉為 Number 類型（如果原值的轉換結果為 NaN 則返回原值） -->
      <input v-model.number="age" type="number">

      <div>1. .trim 自動過濾用戶輸入的首尾空格</div>
      <!-- 自動過濾用戶輸入的首尾空格 -->
      <input v-model.trim="msg">
    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
