<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <h2>001. vue init</h2>
    <div id="app">
      <p>{{ message }}</p>
    </div>

    <hr>

    <h2>002. vue-bind</h2>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
      <p>abbreviation</p>
      <div :title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </div>
    </div>

    <hr>

    <h2>003. v-if</h2>
    <div id="app-3">
      <p v-if="seen">Yes</p>
      <p v-else="seen">No</p>

      <h3>003-1. v-if with template</h3>
      <template v-if="seen">
        <p>Title</p>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <h3>003-2. v-else-if</h3>
      <div v-if="type === 'A'">A</div>
      <div v-else-if="type === 'B'">B</div>
      <div v-else-if="type === 'C'">C</div>
      <div v-else>Not A/B/C</div>

      <h3>003-3. Controlling Reusable Elements with key</h3>
      <div><button v-on:click="toggle">Toggle login type</button></div>

      <p>now with key</p>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address">
      </template>

      <p>with key</p>
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template>
    </div>

    <hr>

    <h2>004. v-for</h2>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <hr>

    <h2>005. v-on</h2>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
      <div>
        <p>abbreviation</p>
        <button @click="reverseMessage">Reverse Message</button>
      </div>
    </div>

    <hr>

    <h2>006. v-model</h2>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>

    <hr>

    <h2>007. component</h2>
    <div id="app-7">
      <ol>
    <!-- Now we provide each todo-item with the todo object    -->
    <!-- it's representing, so that its content can be dynamic -->
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>

    <hr>

    <h2>008. filters</h2>
    <div id="app-8">
      <p>{{ message | toUpperCase }}</p>
      <input v-model="message">
    </div>

    <hr>

    <h2>009. computed</h2>
    <div id="app-9">
      <p>Original message: "{{ message }}"</p>
      <p>Computed reversed message: "{{ reversedMessage }}"</p>
    </div>

    <hr>

    <h2>010. computed setting</h2>
    <div id="app-10">
      <div id="demo">{{ fullName }}</div>
      <div>firstName<input v-model="firstName"></div>
      <div>lastName<input v-model="lastName"></div>
      <div>fullName<input v-model="fullName"></div>
    </div>

    <hr>

    <h2>011. watch</h2>
    <div id="app-11">
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>

    <hr>

    <h2>012. v-bind:class</h2>
    <div id="app-12">
      <div class="static"
        v-bind:class="{ 'text-blue': hasBlue, 'text-red': hasRed }">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>013. classObject</h2>
    <div id="app-13">
      <div v-bind:class="classObject">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>014. classObject with computed</h2>
    <div id="app-14">
      <div v-bind:class="classObject">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>015. v-bind:class with array</h2>
    <div id="app-15">
      <div v-bind:class="[bgYellowClass, redClass]">
        Hello Vue!
      </div>
      <div v-bind:class="[isActive ? redClass : '', bgYellowClass]">
        Hello Vue!
      </div>
      <div v-bind:class="[{ redClass: isActive }, bgYellowClass]">
        Hello Vue!
      </div>
    </div>

    <hr>

    <h2>016. v-bind:style</h2>
    <div id="app-16">
      <div v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
        Hello Vue!
      </div>
      <div v-bind:style="styleObject"> Hello Vue! </div>
      <div v-bind:style="[baseStyles, overridingStyles]"> Hello Vue! </div>
    </div>

    <hr>

    <h2>017. v-show</h2>
    <p>v-show 是簡單的切換元素的 CSS 屬性 display。元素會始終渲染並保持在 DOM 中。</p>
    <p>注意 v-show 不支援 template 語法。</p>
    <div id="app-17">
      <div v-show="ok">Hello!</div>
    </div>
    <p class='bg-gray'>一般來說， v-if 有更高的切換消耗而 v-show 更高的初始渲染消耗。因此，如果需要頻繁切換使用 v-show 較好，如果在運行時條件不大可能改變則使用 v-if 較好。</p>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
